/*
    COLORE0 = d1eaf6
    COLORE1 = 000814
    COLORE2 = 001d3d
    COLORE3 = 003566
    COLORE4 = ffc300
    COLORE5 = ffd60a
*/
body {
    background-color: #001d3d; /* COLORE1 */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #d1eaf6; /* COLORE0 */
}

.navbar {
    position: fixed;
    top: 0%;
    left: 50%;
    width: 80%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a3f7a8; /* COLORE1 */
    padding: 10px;
    border-radius: 10px;
    margin: 20px auto;
    transform: translateX(-50%);
    z-index: 1000;
}

.loginButton {
    background-color: #00ff2f; /* COLORE4 */
    color: #001d3d; /* COLORE0 */
    padding: 14px 20px;
    font-size: 12px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

.logoutButton {
    background-color: #00ff2f; /* COLORE4 */
    font-size: 12px;
    color: #000814; /* COLORE0 */
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

.user_preview_card {
    background-color: #003566; /* COLORE3 */
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}

.createPost {
    color: #d1eaf6; /* COLORE0 */
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #d1eaf6; /* COLORE0 */
}

.likeButton {
    background-color: #4caf4f00; /* COLORE5 */
    color: #00ff2f; /* COLORE4 */
    height: 30px;
    width: 30px;
    padding: 2px 2px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

.formLike {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.results {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileImageSearch {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    color: #00ff2f; /* COLORE4 */
}

.profileImageSearch:hover {
    z-index: 1001;
    transform: scale(2.5);
}

.icon {
    color: #00ff2f; /* COLORE4 */
    height: 30px;
    width: 30px;
    padding: 10px;
    cursor: pointer;
}

.login {
    padding: 50px;
    border-radius: 30px;
    background-color: #003566; /* COLORE3 */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #001d3d; /* COLORE0 */
}

.login h2 {
    color: #d1eaf6; /* COLORE0 */
}

.formField {
    background-color: #000814; /* COLORE4 */
    color: #d1eaf6; /* COLORE0 */
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.formButton {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    background-color: #00ff2f; /* COLORE4 */
    color: #001d3d; /* COLORE0 */
    border: none;
    cursor: pointer;
}

.formButton:hover {
    background-color: #fb860038; /* COLORE4 con leggera trasparenza */
}

.navIcon {
    color: #003566; /* COLORE4 */
    height: 30px;
    width: 30px;
    padding: 10px;
    cursor: pointer;
}

.profileInfo {
    background-color: #003566; /* COLORE3 */
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    width: 600px;
}

.profileInfo h1 {
    font-size: 40px;
    color: #d1eaf6; /* COLORE0 */
}

.profileInfo h2 {
    font-size: 18px;
    color: #d1eaf6;
}

.profileInfo h3 {
    font-size: 16px;
    color: #00ff2f;
}

.profileInfo h4 {
    font-size: 14px;
    color: #d1eaf6;
    margin-bottom: 5px;
}

.profileImage {
    object-fit: cover;
    border: solid 3px #00ff2f;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px;
    color: black;
}

.profileImage:hover {
    object-fit: cover;
    background-color: #00ff2f;
    z-index: 1000;
    transform: scale(2);
}

.modificaProfileImg {
    width: 40%;
    display: flex;
    flex-direction: row;
}

.editProfileButton {
    background-color: #00ff2f; /* COLORE5 */
    width: 50px;
    height: 50px;
    color: #003566;
    padding: 10px;
    font-size: 12px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

.flex_orizzontale {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.full_width {
    width: 100%;
    align-items: center;
}

.flex_centred {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    height: 300px;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.viewCommentsButton {
    background-color: #4caf4f00; /* COLORE5 */
    color: #00ff2f;
    height: 30px;
    width: 30px;
    padding: 2px 2px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

.flex_orizzontale_full {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.followButton {
    background-color: #00ff2f; /* COLORE5 */
    color: #003566;
    padding: 14px 20px;
    font-size: 12px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

.unfollowButton {
    background-color: #00ff2f; /* COLORE6 */
    font-size: 12px;
    color: #003566;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

.linkUserPage {
    color: #d1eaf6;
    text-decoration: none;
}

.linkUserPage:hover {
    color: #00ff2f;
    text-decoration: none;
}

.position_map {
    width: 95%;
    height: 95%;
}

.position_map {
    border: solid 3px #00ff2f;
    height: 400px;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 10px;
}

.card {
    background-color: #003566;
    width: 400px;
    height: 600px;
    margin: 30px;
    border-radius: 30px;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.posts {
    margin: 30px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.profileImageComment {
    object-fit: cover;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 3px;
    color: #00ff2f;
}

.profileImageComment:hover {
    z-index: 1001;
    transform: scale(2.5);
}

.usernameComment {
    font-size: 8px;
    color: #d1eaf6;
}

.comment {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
}

.comments {
    background: #003566;
    display: flex;
    width: 300px;
    margin-right: 30px;
    height: 500px;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    overflow-y: auto;
}

hr {
    width: 90%;
    color: #00ff2f;
}

.hidden {
    display: none;
}

.postImage {
    width: 200px; /* Adatta le immagini alla larghezza del loro contenitore */
    height: auto; /* Impedisce il ridimensionamento distorso delle immagini */
    object-fit: cover; /* Ridimensiona l'immagine mantenendo le proporzioni */
    border-radius: 30px;
    margin: 10px;
    background-color: #a3f7a8;
    border: solid 3px #00ff2f;
}

.images_post {
    background: #a3f7a8;
    border: solid 3px #00ff2f;
    display: flex;
    width: 300px;
    height: 500px;
    padding-top: 55px;
    padding-bottom: 55px;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    overflow-y: auto;
}

.postImage:hover {
    z-index: 1001;
    transform: scale(1.45);
    
}

@media only screen and (max-width: 600px) {

    html {
        width: 90%;
		margin: 0;
		padding: 0;
        align-items: center;
		overflow-x: hidden;
    }


    .login{
        padding: 10px; /* Ridotto il padding */
    }

    .navbar {
        width: 90%; /* Ridotto per adattarsi al dispositivo mobile */
        padding: 5px; /* Ridotto il padding */
        margin: 10px auto; /* Ridotto il margine */
    }


    .position_map {
        height: 200px; /* Ridotto per adattarsi al dispositivo mobile */
    }

    .map {
        width: 90%; /* Ridotto per adattarsi al dispositivo mobile */
    }

    .card,
    .posts {
        width: 80%; /* Ridotto per adattarsi al dispositivo mobile */
        margin: 10px auto; /* Ridotto il margine */
    }

    .profileImageComment {
        width: 10px; /* Ridotto per adattarsi al dispositivo mobile */
        height: 10px; /* Ridotto per adattarsi al dispositivo mobile */
    }

    .usernameComment {
        font-size: 6px; /* Ridotto per adattarsi al dispositivo mobile */
    }

    .postImage {
        width: 150px; /* Ridotto per adattarsi al dispositivo mobile */
    }

    .images_post {
        width: 90%; /* Ridotto per adattarsi al dispositivo mobile */
        height: 400px; /* Ridotto per adattarsi al dispositivo mobile */
        padding-top: 30px; /* Ridotto per adattarsi al dispositivo mobile */
        padding-bottom: 30px; /* Ridotto per adattarsi al dispositivo mobile */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .images_post img {
        display: block !important;
        margin: 0 auto !important;
    }
}