<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CityPin</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class = "navbar">
        <h3><a href = "/">Home</a></h3>
        <button class = "loginButton" id = "registerButton">Register</button>
    </div>
   
    <br><br><br><br><br><br><br><br>
    <h1>Login page</h1>

    <form action = "/login" method = "post" class = "login">
        <input class = "formField" type = "text" name = "username" placeholder = "Username" required>
        <br>
        <input class = "formField" type = "password" name = "password" placeholder = "Password" required>
        <br>
        <input class = "formButton" type = "submit" value = "Login">
    </form>
    
</body>

<script>
    document.getElementById("registerButton").addEventListener("click", function(){
        window.location.href = "/registerPage";
    });
</script>
</html>