<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        .map {
            height: 200px;
            margin-bottom: 10px;
        }
        .card {
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class = "navbar">
        <h3><a href = "/userPage">My profile</a></h3>
        <h3><a href = "/search">Search user</a></h3>
        <h3><a href="{{ url_for('logout') }}">Logout</a></h3>
    </div>

    <br><br><br><br><br><br><br><br>

    <h1>{{ user[1] }}</h1>
    
    {% if not is_following %}
        <form action="/addFollower/{{ user[0] }}/" method="POST">
            <button type="submit" class = "followBotton">Follow</button>
        </form>
    {% else %}
        <form action="/removeFollower/{{ user[0] }}/" method="POST">
            <button type="submit" class = "followBotton">Unfollow</button>
        </form>
    {% endif %}
    <h2>Account details:</h2>
    <h4>{{ user[3] }}</h4>
    <h4>Account created: {{ user[4] }}</h4>
    <br>
    <h3>{{n_followers}} followers</h3>
    <br>
    <h3>{{n_posts}} post</h3>

    
    <div class = "posts">
        {% for post in posts %}
            <div class="card">
                <h2>Post: {{ post[2] }}</h2>
                <p>Date: {{ post[3] }}</p>
                <p>{{post[6]}} likes</p>
                <div class="map" id="mapid_{{ loop.index }}"></div>
                <form action="/addLike/{{ post[0] }}/{{user[0]}}" method="POST">
                    <button type="submit" class = "addLikeBotton">Like</button>
                </form>
                <form action="/postPage/{{ post[0] }}" method="POST">
                    <button type="submit" class = "viewCommentsButton">View comments</button>
                </form>
            </div>
        {% endfor %}
    </div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        {% for post in posts %}
            // Inizializza la mappa per il post corrente
            var map_{{ loop.index }} = L.map('mapid_{{ loop.index }}').setView([{{ post[4] }}, {{ post[5] }}], 13);

            // Aggiungi un layer di mappa (puoi scegliere tra vari provider)
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; OpenStreetMap contributors'
            }).addTo(map_{{ loop.index }});

            // Aggiungi un marker alla posizione del post
            L.marker([{{ post[4] }}, {{ post[5] }}]).addTo(map_{{ loop.index }})
                .bindPopup('Post: {{ post[2] }}');
        {% endfor %}
    </script>

</body>

</html>
