<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class = "navbar">
        <h3><a href = "/userPage">My profile</a></h3>
        <h3><a href = "/search">Search user</a></h3>
        <h3><a href="{{ url_for('logout') }}">Logout</a></h3>
    </div>
    <br><br><br><br><br><br><br><br>
    <div class = "search">
        <form action = "/searchUser" method = "POST">
            <input type = "text" name = "user_name" placeholder = "Search user">
            <input type = "submit" value = "Search">
        </form>
    </div>

    <div class = "search_result">
        <h3>Search result</h3>
        <div class = "results">
            {% for user in users %}
                <div class = "user_preview_card">
                    <h4>{{ user[1] }}</h4>
                    <a href = "/user/{{ user[0] }}">View profile</a>
                    <p>{{ user[3] }}</p>
                    <p>On CityPin since {{ user[4] }}!</p>
                </div>
            {% endfor %}
        </div>
</body>
</html>
